<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="all" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="description" content="Budget Planner Application" />
		<meta name="keywords" content="Budget Planner Finances" />
		<meta name="author" content="Matt Hinger" />
		<meta property="og:title" content="Budget Planner Application"/>
		<meta property="og:site_name" content="Budget Planner"/>
		<meta property="og:type" content="application" />

		<%= favicon_link_tag '/favicon.ico' %>

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		
		<%= csrf_meta_tags %>

		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<p class="center under-construction under-construction-top">Site Under Construction</p>
			<%= yield %>
			<p class="center under-construction under-construction-bottom">Site Under Construction</p>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
